@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">
        <div class="content">
            <form id="comdet">
                <section class="repeating-container relative">
                    <p>Details of previous Employers(starting from your Current Job,
                        covering up to Last 3 Employments) <br>*Please attach a copy of Your relieving letter/service
                        certificate for this</p>
                    <section class="repeating">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Company Name(1)</span>
                                <input type="text" name="heading[0]" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Last Designation held</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Address (main office)</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Telephone</span>
                                <input type="number" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Employment period</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Employe Code/Personel No:</span>
                                <input type="number" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Name of Reporting Manager</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Name of HR:</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Contact No. of HR:</span>
                                <input type="number" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Email ID of HR:</span>
                                <input type="email" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Department of Reporting Manager:</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Contact No of Reporting Manager:</span>
                                <input type="number" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Email ID of Reporting Manager:</span>
                                <input type="email" name="" id="" />
                            </div>

                            <div class="employment-details">
                                <input type="radio" name="employment" id="dot-1">
                                <input type="radio" name="employment" id="dot-2">
                                <span class="details employment_d">Whether employment is of : </span>
                                <div class="category">
                                    <label for="dot-1">
                                        <span class="dot one"></span>
                                        <span class="employment">Permanent</span>
                                    </label>
                                    <label for="dot-2">
                                        <span class="dot two"></span>
                                        <span class="employment">Temporary</span>
                                    </label>
                                </div>
                            </div>

                            <div class="input-box">
                                <span class="details">Name of Alternative Reporting Manager:</span>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Contact No. of Alternative Reporting Manager:</span>
                                <input type="number" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Email ID of Alternative Reporting Manager :</span>
                                <input type="email" name="" id="" />
                            </div>
                            <div class="input-box">
                                <span class="details">Contact No. of Department of Alternative Reporting manager:</span>
                                <input type="text" name="" id="" />
                            </div>
                            <p>Reason(s) for Leaving : </p>
                            <textarea rows="5" cols="95"></textarea>
                            <p>Agency Details(if temporary or contractual) : </p>
                            <textarea rows="3" cols="95"></textarea>
                            <p>Remunerations(CTC pa) : </p>
                            <textarea rows="3" cols="95"></textarea>
                        </div>
            </form>
        </div>
    </section>
    
    <button class="push-to-add">Add Employment</button>
    
    <a href="http://localhost:5149/Home/PersonalAssesmentDetails">
        <button class="next_btn">Save and Continue</button>
    </a>
    
    </div>