@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div class="container">
        <form id="edudet">
            <p>EDUCATION INFORMATION : </p>
            <table>
                <tr>
                    <th>Degree</th><th>Course</th><th>College Name</th><th>University Name</th><th>%</th><th>Duration</th>
                </tr>
                <tr>
                    <th>X</th><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td>
                </tr>
                <tr>
                    <th>XII</th><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td>
                </tr>
                <tr>
                    <th>UG</th><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td>
                </tr>
                <tr>
                    <th>PG</th><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td>
                </tr>
                <tr>
                    <th>OTHER</th><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td>
                </tr>
            </table>
            <hr>
            <p>ADDITIONAL QUALIFICATIONS/DIPLOMAS/CERTIFICATES/TRAINING Please mention any Self learned course/Software/Package</p>
             
            <table id="quatable">
                <tr>
                    <th></th>
                    <th>Program</th>
                    <th>Institute</th>
                    <th>Duration</th>
                    <th>%</th>
                    <th>Division</th>
                </tr>
                <tr>
                    <td><input type=checkbox></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="number"></td>
                    <td><input type="text"></td>
                </tr>
            </table>
            <br>
            <input type=button class="b" value="Add new row" onclick=quarow()>
            <input type=button class="b" value="Delete selected rows" onclick=quadel()>

            <hr>
            <p>SEMINARS/TRAINING PROGRAMS ATTENDED : </p>
            <table id="semtable">
             <tr>
                <th></th><th>Seminar/Training Program</th><th>Conducted by</th><th>Duration</th>
             </tr>
             <tr><td><input type="checkbox"></td><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td></tr>
            </table>
            <br>
            <input type=button class="b" value="Add new row" onclick=semrow()>
            <input type=button class="b" value="Delete selected rows" onclick=semdel()>
            <hr>
            <p>MAJOR ACHIEVMENTS/PUBLICATIONS TO YOUR CREDIT : </p>
            <table id="majtable">
              <tr>
                <th></th><th>Description</th><th>Year</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td><td><input type="text"></td><td><input type="number"></td>
              </tr>
            </table>
            <br>
            <input type=button class="b" value="Add new row" onclick=majrow()>
            <input type=button class="b" value="Delete selected rows" onclick=majdel()>
            <hr>


            <p>PROJECT INFORMATION(In ascending order give details of the recent projects) : </p>
             <table id="protable">
                <tr><th></th><th>Title</th><th>Company</th><th>Client</th><th>Platform and Skill used</th>
                <th>Team Size</th><th>Role</th></tr>
                <tr><td><input type="checkbox"></td><td><input type="text"></td><td><input type="text"></td>
                <td><input type="text"></td><td><input type="text"></td><td><input type="number"></td><td><input type="text"></td></tr>
             </table>
            <br>
            <input type=button class="b" value="Add new row" onclick=prorow()>
            <input type=button class="b" value="Delete selected rows" onclick=prodel()>
            <hr>
            <a href="">
            <div class="button">
                <input type="submit" value="Save and Continue">
              </div>
              </a>
        </form>
    </div>
      <script>
document.getElementById("edudet").addEventListener("submit", function(event) {
    event.preventDefault(); 
    window.location.href = "http://localhost:5149/Home/PassportDetails"; 
});
</script>